[submodule ".github/actions/checkout"]
	path = .github/actions/checkout
	url = https://github.com/actions/checkout.git
[submodule ".github/actions/configure-pages"]
	path = .github/actions/configure-pages
	url = https://github.com/actions/configure-pages.git
[submodule ".github/actions/jekyll-build-pages"]
	path = .github/actions/jekyll-build-pages
	url = https://github.com/actions/jekyll-build-pages.git
[submodule ".github/actions/upload-pages-artifact"]
	path = .github/actions/upload-pages-artifact
	url = https://github.com/actions/upload-pages-artifact.git
[submodule ".github/actions/deploy-pages"]
	path = .github/actions/deploy-pages
	url = https://github.com/actions/deploy-pages.git
[submodule ".github/actions/upload-artifact"]
	path = .github/actions/upload-artifact
	url = https://github.com/actions/upload-artifact.git
[submodule "rust-telemetry-driver"]
	path = rust-telemetry-driver
	url = https://github.com/meta-introspector/rust-telemetry-driver
[submodule "hf-git-activity"]
	path = hf-git-activity
	url = git@hf.co:datasets/introspector/git-activity
[submodule "hf-build-telemetry-upload"]
	path = hf-build-telemetry-upload
	url = git@hf.co:datasets/introspector/build-telemetry
[submodule "data-blockchain"]
	path = data-blockchain
	url = https://huggingface.co/datasets/introspector/data-blockchain
[submodule "data-markov-analysis"]
	path = data-markov-analysis
	url = https://huggingface.co/datasets/introspector/rust-markov
[submodule "data-moonshine"]
	path = data-moonshine
	url = https://huggingface.co/datasets/introspector/data-moonshine
[submodule "data-eigenvectors"]
	path = data-eigenvectors
	url = https://huggingface.co/datasets/introspector/data-eigenvectors
[submodule "data-const71"]
	path = data-const71
	url = https://huggingface.co/datasets/introspector/data-const71
[submodule "data-telemetry"]
	path = data-telemetry
	url = https://huggingface.co/datasets/introspector/build-telemetry
[submodule "cargo2nix-fresh"]
	path = cargo2nix-fresh
	url = https://github.com/cargo2nix/cargo2nix.git
[submodule "tools/template-repo"]
	path = tools/template-repo
	url = https://github.com/meta-introspector/tool-template-repo
[submodule "mes-transformer/libtorch-nix"]
	path = mes-transformer/libtorch-nix
	url = https://github.com/tscholak/libtorch-nix.git
